* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", serif;
}

/* color palettes */

:root {
    --primary-white-color: #FFFFFF;
    --primary-yellow-color: #D9B742;
    --primary-black-color: #131820;
    --secondary-black-color: #2E2E2E;
    ;
    --primary-gray-color: #929598;
    --secondary-gray-color: #B6B7BA;
    ;
}


/* navbar design start */
nav .navbar-brand img {
    width: 149px;
    height: 34px;

}

nav .nav-item {
    margin-right: 40px;
}

nav .nav-item:last-child {
    margin-right: 0;
}

nav .active-link {
    font-weight: 700 !important;
    color: var(--primary-yellow-color) !important;
}

nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: var(--primary-gray-color);
}

nav .nav-link:hover {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: var(--primary-yellow-color);
}

nav .login-btn {
    background-color: var(--primary-yellow-color);
    color: var(--primary-white-color);
    width: Hug (97px)px;
    height: Fixed (43px)px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    transition: 0.4s;
    margin-right: 8px;
    transition: 0.4s;
    border: 2px solid var(--primary-yellow-color);
}

nav .login-btn:hover {
    background-color: var(--primary-black-color);
    border: 2px solid var(--primary-yellow-color);
}

nav .reg-btn {
    background-color: var(--primary-black-color);
    color: var(--primary-white-color);
    width: Hug (105px)px;
    height: Fixed (43px)px;
    padding: 12px 24px 12px 24px;
    border-radius: 8px;
    border: 2px solid var(--primary-yellow-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    transition: 0.4s;
}

nav .reg-btn:hover {
    background-color: var(--primary-yellow-color);
}

.hero-img {
    background-image: url('/img/hero_img.png'), linear-gradient(#0c0b0c, #141212);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: left;
    color: var(--primary-white-color);
}

.hero-text-box p {
    width: 279px;
    height: Fixed (32px)px;
    padding: 0px 16px 0px 16px;
    border-radius: 100px;
    background-color: var(--primary-white-color);
    color: var(--primary-black-color);
    font-size: 12px;
    font-weight: 600;
    line-height: 19.2px;
}

.hero-text-box .vector {
    width: 11px;
    height: 15px;
    top: 0.5px;
    left: 2.5px;
    margin-right: 3px;

}

.agency-text {
    color: var(--primary-yellow-color);
}

.agency-text2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: justify;
    color: var(--primary-gray-color);
    padding-right: 20px;
}

.hero-small-img img {
    width: 40px;
    height: 40px;
    margin-left: -20px;
}

.hero-small-img img:first-child {
    margin-left: 0;
}

.hero-small-img h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: var(--primary-gray-color);
    margin-top: 10px;
}

.book-btn {
    width: Hug (144px)px;
    height: Fixed (54px)px;
    padding: 14px 32px 14px 32px;
    margin-right: 8px;
    border-radius: 8px;
    background-color: var(--primary-yellow-color);
    color: var(--primary-white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
    border: none;
    transition: 0.4s;
    border: 2px solid var(--primary-yellow-color);
}

.book-btn:hover {
    background-color: var(--primary-black-color);
    border: 2px solid var(--primary-yellow-color);
}

.learn-btn {
    width: Hug (150px)px;
    height: Fixed (54px)px;
    padding: 14px 32px 14px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
    border: none;
}

.learn-btn:hover {
    background-color: var(--primary-yellow-color);
}

.company-info {
    background-color: var(--secondary-black-color);
    width: Fixed (1, 280px)px;
    height: Hug (220px)px;
    top: 712px;
    left: 80px;
    padding: 48px 64px 48px 64px;
    border-radius: 16px;
    border: 2px solid var(--primary-yellow-color);

}

.company-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: var(--secondary-gray-color);
}



/* navbar design end */

/* service design start */
.card{
    background-color: var(--secondary-black-color);
    border: 2px solid var(--primary-yellow-color);
    border-radius: 8px;
}
.service .h4{
font-size: 64px;
font-weight: 600;
color: var(--primary-white-color);
}
.service .h6{
width: 494px;
font-size: 22px;
font-weight: 400;
line-height: 35.2px;
color: var(--primary-white-color);
}
.service-info{
    width: 50px;
    height: 50px;
    background-color: var(--primary-yellow-color);
    border-radius: 8px;
    position: relative;
    margin-left: 15px;
}
.service-info img{
    width: 25px;
    height: 25px;
    top: 25%;
    left: 25%;
    position: absolute;
}
.service .card{
    width: 416px;
    height: 217px;
    margin: 5px auto;
}
.service .card .card-text{
    color:  var(--primary-white-color);
}
.service .card .card-para{
    color:  var(--primary-gray-color);
    font-size: 12px;
}
/* service design end */

/* client design start */
.client .fabric-img{
    width: 586px;
height: 733px;
}
.client .h2{
font-size: 36px;
font-weight: 600;
line-height: 57.6px;
text-align: left;
color: var(--primary-white-color);
}
.client p{
font-size: 22px;
font-weight: 400;
line-height: 35.2px;
text-align: justify;
color: var(--primary-white-color);
}
/* client end start */

/* story design start */
.story img{
    width: 630px;
height: 422px;

}
.story p{
    font-size: 22px;
font-weight: 400;
line-height: 27px;
text-align: justify;
line-height: 35.2px;
color: var(--primary-white-color);
}
.story .h4{
    font-size: 64px;
    font-weight: 600;
    color: var(--primary-white-color);
    }
    .story .h6{
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    color: var(--primary-white-color);
    }
    .story .h2{
        color: var(--primary-yellow-color);
        font-size: 38px;
    font-weight: 600;
    margin-top: 15px;
    }
    .story .h3{
        color: var(--primary-gray-color);
        font-size: 18px;
    }
/* story design end */

/* contact design start */
.contact-btn {
    width: Hug (144px)px;
    height: Fixed (54px)px;
    padding: 14px 32px 14px 32px;
    margin-right: 8px;
    border-radius: 8px;
    background-color: var(--primary-yellow-color);
    color: var(--primary-black-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
    text-align: center;
    border: none;
    transition: 0.4s;
    border: 2px solid var(--primary-yellow-color);
}

.contact-btn:hover {
    background-color: var(--primary-black-color);
    border: 2px solid var(--primary-yellow-color);
    color: var(--primary-white-color);
}
.contact-info .h3{
    line-height: 32px;
}
.contact .accordion-item {
    border-radius: 8px;
    background-color: var(--primary-yellow-color);
}
.contact .accordion-item button{
    background-color: var(--primary-yellow-color);
    
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
    color: var(--primary-black-color);
}
.accordion-body{
    color: var(--primary-white-color);
}
/* contact design end */

/* footer design start */
footer{
    background-color: var(--primary-black-color);
    color: var(--primary-white-color);
}
.footer-text{
    color: var(--primary-white-color);
    font-size: 20px;
    font-weight: 600;
}
.footer-para{
    color: var(--primary-white-color);
    font-size: 12px;
    font-weight: 400;
    
}
footer a{
    text-decoration: none;
    font-weight: 400;
    color: var(--primary-white-color);
    line-height: 32.5px;
    transition: 0.4s;
}
footer a:hover{
    text-decoration: underline;
    color: var(--primary-yellow-color);
}
footer h5{
    margin-bottom: 15px;
}
footer hr{
    border: 2px solid var(--primary-white-color);
}
/* footer design end */


/* media query */
@media screen and (min-width: 320px) and (max-width:768px){

    nav .nav-item {
        margin-right: 0;
    }
    .hero-text-box h1{
        font-size: 30px;
        line-height: 38px;
    }
    .company-text {
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
        color: var(--secondary-gray-color);
    }
    .service .h4{
        font-size: 30px;
        }
        .service .h6{
            font-size: 16px;
            line-height: 25px;
            }
}

@media screen and (min-width: 768px) and (max-width:1200px){
    .hero-text-box h1{
        font-size: 40px;
        line-height: 45px;
    }
    .service .h4{
        font-size: 45px;
        }
        .service .h6{
            font-size: 18px;
            line-height: 25px;
            }
            .service .card{
                width: 200px;
                height: 180px;
            }
            .service-info{
                display: none;
            }
            .client p{
                font-size: 18px;
                line-height: 19px;
                text-align: justify;
                }
                .story .h6{
                    font-size: 16px;
                    line-height: 25px;
                    color: var(--primary-white-color);
                    }
}
